services:
  mc:
    image: itzg/minecraft-server:java16
    # pull_policy: daily
    tty: true
    stdin_open: true
    network_mode: bridge
    restart: always
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
    volumes:
      # attach the relative directory 'data' to the container's /data path
      - ./data:/data
